.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f0f9e5;
  color: #3e4760;
  font-size: 14px;
  border-radius: 10px 0px 0px 10px;
  border-left: 10px solid #6bb700;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 75px;
  padding: 0px 20px;
}

.notification.warning {
  background-color: #ffeaa9;
  border-left: 10px solid #e2bf4e;
}

.notification .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: #7b7b7b;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}
