.list-items {
  padding: 10px 20px;
  margin: 0;
}
.list-items:empty::before {
  content: "No results found";
  display: block;
  text-align: center;
  color: #999;
  font-style: italic;
  padding: 20px;
}
.list-items > .list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
  list-style-type: none;
  color: #3e4760;
  font-size: 14px;
}

.list-items > .list-item > span:nth-child(2) {
  font-size: 20px;
  color: #c4c4c4;
}

.list-items > .list-item:hover {
  background-color: #e3f1fe;
}
