.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.modal.show {
  display: block;
}

.modal.visible {
  opacity: 1;
}

.modal-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  height: 35rem;
  width: 35rem;
}

.modal-body .modal-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
  padding: 10px 30px;
  gap: 20px;
}

.modal-body .modal-header .close-button {
  position: absolute;
  font-size: 25px;
  right: 20px;
  top: 18px;
  cursor: pointer;
  color: #7b7b7b;
}

.modal-body .modal-header .modal-title {
  color: #7b7b7b;
}

.modal-body .modal-content {
  flex: 1;
  overflow-y: auto;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.modal-body .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  items-align: center;
  height: 50px;
  padding: 10px 20px;
}

.modal-body .modal-footer > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
