.accordion {
  position: relative;
  height: 100%;
  width: 100%;
}

.accordion:empty::before {
  content: "No results found";
  display: block;
  text-align: center;
  color: #999;
  font-style: italic;
  padding: 20px;
}

.accordion-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion-item.active .accordion-header {
  background-color: #f5f5f5;
}

.accordion-item.active .accordion-content {
  border-bottom: 1px solid #e5e5e5;
  height: auto;
  min-height: 80px;
  background-color: #f5f5f5;
}

.accordion-item.active .accordion-icon {
  transform: rotate(90deg);
}

.accordion-header {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header input[type="number"] {
  width: 40px !important;
  height: 3px !important;
  text-align: right;
  -moz-appearance: textfield;
}

.accordion-header input[type="number"]::-webkit-outer-spin-button,
.accordion-header input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.accordion-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  padding-left: 0;
}

.accordion-details .accordion-name {
  color: #3e4760;
  font-size: 14px;
}

.accordion-details .accordion-id {
  color: #7b7b7b;
  font-size: 12px;
}

.accordion-details .accordion-logo {
  display: flex;
  justify-content: center;
  items-align: center;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  padding: 3px;
}

.accordion-details .accordion-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.accordion-content {
  position: relative;
  width: 100%;
  height: 0px;
  min-height: 0px;
  overflow: hidden;
  transition: height 0.3s ease, min-height 0.3s ease;
}

.accordion-icon {
  font-size: 20px;
  color: #c4c4c4;
  transition: transform 0.3s ease;
  padding: 0 20px;
}

.accordion-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
